* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 900px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.container .imgBox img {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    display: none;
}
.container .imgBox {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 20px;
}